nav {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    background: firebrick;
    color: white;
    margin-bottom: 60px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 19px;
  }
  
 
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-links a:hover {
    /* margin-bottom: 20px; */
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
 
  }
  .logo-image{
    height: 70px;
    width: 120px;
  }