.awards-container {
  /* display: flex; */
  height: 600px;
  flex-direction: row;
  /* border-radius: 20px; */
  width: 100%;
  overflow: hidden;
}

.award-section {
  /* height: 800px;
  flex-direction: row;
  background-image: linear-gradient(
    to right,
    rgb(252, 252, 253),
    hsl(0, 0%, 100%, 0)
  ); */
  display: flex;
  height: 600px;
  flex-direction: row;
  background-image: linear-gradient(
    to right,
    rgb(252, 252, 253),
    hsl(0, 0%, 100%, 0)
  );
}

.image-container {
  /* display: flex;
  flex-direction: column;

  max-width: 70%;
  overflow: hidden;
  position: relative;  */
  display: flex;
  flex-direction: column;
  max-width: 70%;
  /* overflow: hidden; */
  position: relative;
}
span {
  overflow: hidden;
}
.awards-image {
  width: 605px;
}
.awards-image image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image {
  /* transform: translateX(-15%) translateY(-23%);
    width: 880px;
    height: auto;
    object-fit: cover; */
  transform: translateX(0%) translateY(-17%);

  object-fit: cover;
  height: auto;
  width: auto;
  max-width: 900px;
  max-height: 900px;
}
.linear {
  background-image: linear-gradient(
    to left,
    rgb(252, 252, 253),
    hsl(0, 0%, 100%, 0)
  );
  width: 50%;
  height: 100%;
  display: block;
  right: 112%;
  top: 0;
  bottom: 100%;
  position: absolute;
  z-index: auto;
}
.awards-details {
  display: flex;
  padding: 0rem 5rem;
  width: 100%;
}
.award-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.award-image {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  margin-bottom:1rem;
}
.awards-title {
  font-size: 3.5rem;
}
.award-desc-text {
  font-size: 3.5rem;
  margin-top: 2rem;
  font-weight: bolder;
}
.sub-title {
  margin: 1rem;
  font-weight: bold;
  font-size:2rem;

}
.awards-title, .sub-title{
  color:rgba(182,152,89)
 
}
.underline{
  border-bottom: 5px solid firebrick;
  width: 60%;
  margin:0 auto;
}